html, body {
    height: 100%;
}

/* Background image for the entire webpage */
.bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("mainBackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100%;
}

.jb{
    margin-top: 20%;
}

/* if the website is being accessed from smaller screens we adjust the welcome message text to fit their screen */
@media only screen and (max-width: 767px){
    .greeting {
        font-size: 30px;
    }
    .welcomeMsg{
        font-size: 15px;
    }
    .navBtn{
        display: block;
    }
}

@media only screen and (min-width: 768px){
    .greeting {
        font-size: 68px;
    }
    .welcomeMsg{
        font-size: 30px;
    }
    .navBtn{
        display: none;
    }
}

/* Used to center anything */
.center {
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-right: 0px;
}

/* Used to display sign in and sign up side by side */
.auth {
    display: inline-block;
}

li {
    display: inline-block;
}

/* Styles the sign In form */
.signInForm {
    max-width: 400px;
    margin-top: 15%;
    background-color: #ffffffff;
}

.signUpForm {
    margin-top: 8%;
    background-color: #ffffffff;
}
/* styles username and password input boxes */
.inputBox {
    border-radius: 5px;
    border: 1px solid gray;
}

.signUpInputBox {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px 8px;
}
