html{
    height: 100%;
}

body{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #000000 0%, #dddddd 100%);
}

.logoSize{
    width: 143px;
    height: 38px;
}

.auth{
    display: inline-block;
}

li{
    display: inline-block;
}

.navbar{
    background-color: #282828;
}

.container{
    color: white;
}

.search{
    display: inline-block;
}

.searchbar{
    width: 220px;
    height: 33px;
}

.searchbutton{
    background-color: #282828; /* Green */
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 4px;
}

h1{
    font-size: 60px;
}