html{
    height: 100%;
    position: relative;
}

body{
    height: 100%;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("home.jpg");
}

li{
    display: inline-block;
}

.container{
    color: white;
}

.search{
    display: inline-block;
}

.searchbutton{
    background-color: #282828;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 4px;
}

h1{
    font-size: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 64px;
    background-color: #282828;
}