html{
    height: 100%;
}

body{
    background-color: #eae9eb;
}

li{
    display: inline-block;
}

.result{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 12px;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 7px #a5a5a5;
    transition-duration: 0.25s;
    border-radius: 5px;
    border: 1px solid gray;
}

.result:hover{
    background-color: #EEEEEE;
    color: black;
}

.resultPic{
    margin-top: 5px;
    float: left;
}

.resultText{
    float: left;
    margin-left: 15px;
}

.resultText p{
    margin-bottom: 0px;
    font-size: 15px;
}

.resultName{
    font-size: 30px !important;
}

.resultSubjects{
    margin-bottom: 5px;
}

.noResults{
    display: inline-block;
    width: 100%;
    padding: 7px;
    padding-bottom: 12px;
    background-color: white;
    box-shadow: 10px 10px 7px #a5a5a5;
}

.sorry{
    text-align: center;
    font-size: 100px;
    margin-bottom: 10px;
}

.sorryInfo{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.dropdown-menu a{
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover{
    background-color: #8c8cef;
}