html{
    height: 100%;
}

body{
    background-color: white;
}

.logoSize{
    width: 143px;
    height: 38px;
}

.auth{
    display: inline-block;
}

li{
    display: inline-block;
}

.navbar{
    background-color: #282828;
}

.header{
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #d0d0d0;
    color: black;
    box-shadow: 6px 6px 6px #a5a5a5;
}

.headerPic{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

.headerText{
    float: left;
    margin-left: 20px;
}

.headerText p{
    margin-bottom: 3px;
    font-size: 16px;
}

.headerTabs{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.headerTabs button {
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    width: 100px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 5px;
    transition-duration: 0.25s;
}

.headerTabs button:hover{
    background-color: #EEEEEE;
}

.tutorName{
    font-size: 30px !important;
}

.tutorSubjects{
    margin-bottom: 5px;
}

.sessionsPanel{
    float: left;
    width: 100%;
}

.session{
    display: inline-block;
    width: 100%;
    margin-bottom: 11px;
    padding: 7px 7px;
    background-color: #d0d0d0;
    color: black;
    border: none;
    transition-duration: 0.25s;
    box-shadow: 6px 6px 6px #a5a5a5;
}

.session:hover{
    background-color: #EEEEEE;
    color: black;
}

.reviewsPanel{
    float: left;
    width: 100%;
}

.review{
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    padding: 7px 7px;
    background-color: #d0d0d0;
    color: black;
    border: none;
    box-shadow: 6px 6px 6px #a5a5a5;
}

.reviewHeader{
    float: left;
    width: 100%;
}

.reviewerPic{
    float: left;
    margin: 10px;
}
.reviewerName{
    font-size: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 0px;
}

.reviewText{
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.reviewTextEdit{
    width: 100%;
}

.addReviewButton{
    float: right;
}

.buttonBox{
    display: inline-block;
    width: 100%;
}

.buttonBox button{
    float: right;
    margin: 5px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #d0d0d0;
    transition-duration: 0.25s;
}

.buttonBox button:hover{
    background-color: #EEEEEE;
    color: black;
}

.search{
    display: inline-block;
}

.searchbar{
    width: 220px;
    height: 33px;
}