html{
    height: 100%;
}

body{
    background-color: white;
}

.logoSize{
    width: 143px;
    height: 38px;
}

.auth{
    display: inline-block;
}

li{
    display: inline-block;
}

.navbar{
    background-color: #282828;
}

.header{
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #d0d0d0;
    color: black;
}

.headerPic{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

.headerText{
    float: left;
    margin-left: 20px;
}

.headerText p{
    margin-bottom: 3px;
    font-size: 16px;
}

.headerTabs{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.headerTabs button {
    background-color: white;
    border: none;
    color: black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 4px;
    margin-right: 0px;
}

.headerTabs button:hover{
    background-color: #EEEEEE;
}

.tutorName{
    font-size: 30px !important;
}

.tutorSubjects{
    margin-bottom: 5px;
}

.sessionsPanel{
    float: left;
    width: 100%;
}

.session{
    float: left;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0px;
    background-color: #d0d0d0;
    border: none;
    color: black;
    text-decoration: none;
}

.reviewsPanel{
    float: left;
    width: 100%;
}

.review{
    margin-top: 5px;
    background-color: #d0d0d0;
    padding-bottom: 5px;
}

.reviewHeader{
    float: left;
    width: 100%;
}

.reviewerPic{
    float: left;
    margin: 10px;
}
.reviewerName{
    font-size: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 0px;
}

.reviewText{
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.reviewTextEdit{
    width: 100%;
}

.addReviewButton{
    float: right;
}

.buttonBox{
    display: inline-block;
    width: 100%;
}

.buttonBox button{
    float: right;
    margin: 5px;
    width: 90px;
}

.search{
    display: inline-block;
}

.searchbar{
    width: 220px;
    height: 33px;
}